{% extends 'template.html.twig' %}

{% block title %}Annuler la réservation du cadeau{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <p>Le cadeau n'est plus sous votre réservation</p>
                {#                <a href="{{ path('homepage') }}" class="btn btn-primary">Aller à l'accueil</a>#}
            </div>
        </div>
    </div>
{% endblock %}
