{% extends 'template.html.twig' %}

{% block title %}Entrer le mot de passe de la liste de cadeaux{% endblock %}

{% block body %}
    <div class="flex justify-center items-center min-h-screen">
        <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
            <h1 class="text-2xl font-bold text-center mb-6">Veuillez entrer le mot de passe de la liste de cadeaux</h1>

            <!-- Formulaire de mot de passe -->
            {{ form_start(passwordForm) }}
            <div class="space-y-4">
                {{ form_widget(passwordForm) }}
            </div>

            <!-- Bouton de soumission -->
            <div class="text-center mt-6">
                <button type="submit" class="inline-flex items-center px-6 py-3 bg-blue-900 text-white font-semibold rounded-lg shadow hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                    Valider
                </button>
            </div>
            {{ form_end(passwordForm) }}
        </div>
    </div>
{% endblock %}
